services:
    blogfinity:
        build:
            context: .
            dockerfile: Dockerfile
        volumes:
            - ../:/app # For local development
            # - ../db/:/app/db/
            # - ../logger/logs/:/app/logger/logs/
            # - ../:/app/conf/
        working_dir: /app
        restart: always
        env_file:
            - ../.env
        environment:
            - OLLAMA_SERVER_IPS=${OLLAMA_SERVER_IPS}
        ports:
            - "1111:8080"
        command: go run .
        networks:
            - blogfinity-net

networks:
    blogfinity-net:
        name: blogfinity-net
